# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Backend (FTL Master)
ftl-dot2dot-bakend-master/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
.env